<div class="modal fade" id="musicModal">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Gets the video src from the data-src on each button
        var $videoSrc;
        $('.thumbnail-btn').click(function () {
            $videoSrc = $(this).data("src");
        });

        // when the modal is opened autoplay it  
        $('#musicModal').on('shown.bs.modal', function (e) {
            // set the video src to autoplay and not to show related video.
            $("#video").attr('src', $videoSrc + "?autoplay=1&amp;rel=0");
        });

        // stop playing the youtube video when modal is closed
        $('#musicModal').on('hide.bs.modal', function (e) {
            $("#video").attr('src', $videoSrc);
        });
    });
</script>
