<li class="nav-item">
    <a class="nav-link" href="https://www.youtube.com/c/Arklite" target="_blank"><img src="img/youtube.png"></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://twitter.com/ArkliteP" target="_blank"><img src="img/twitter.png"></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://www.instagram.com/arklite.p/" target="_blank"><img src="img/instagram.png"></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://piapro.jp/Arklite" target="_blank"><img src="img/piapro.png"></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://www.nicovideo.jp/user/88874771/video" target="_blank"><img src="img/niconico.png"></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://open.spotify.com/artist/1ROi5LukcgULcBWGBQWYdq" target="_blank"><img src="img/spotify.png"></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://arklite.bandcamp.com/" target="_blank"><img src="img/bandcamp.png"></a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="https://soundcloud.com/arklitemusic" target="_blank"><img src="img/soundcloud.png"></a>
</li> -->
<li class="nav-item">
    <a class="nav-link primary" href="/contact"><span>Contact</span></a>
</li>